@import "utils"

html, body
    height: 100%
    width: 100%

body
    margin: 0
    background-color: rgb(37, 33, 43)

.game-area
    height: 100%
    align-items: center
    justify-content: center
    display: flex

#game
    padding: 2px
    border: solid 3px rgb(174, 174, 175)